* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    scroll-behavior: smooth;
}
nav {
    z-index: 100;
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: rgb(92, 111, 145);
    align-items: center;
    height: 9vh;
    width: 100%;
    gap: 3vw;
}
h1 {
    font-size: 50px;
    font-style: italic;
    padding-left: 7vw;
    width: 55%;
    color: white;
    /*background-color: blueviolet;*/
}
ul li {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12.5px;
}
li a {
    text-decoration: none;
    color: rgb(210, 210, 210)
}
li a:hover{
    color: white;
    font-weight: bold;
}
ul {
    /*background-color: red;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2vw;
    width: 25%;
}
.notify {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /*background-color: aqua;*/
    width: 10%;
}
.notify img {
    height: 20px;
    width: 20px;
}

#Home{
    background-color: rgb(230, 230, 230);
    padding-top: 9vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#Home img{
    width: 12vw;
    height: 39vh;
    border-radius: 18px;
    box-shadow: 0px 1px 5px -1px;
    object-fit: cover;
}
#Home img:hover{
    width: 12.8vw;
    height: 39.8vh;
    
}
#Home .image{
    background-color: aqu;
    height: 91vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#Home .image1 {
    overflow: hidden;
    width: 50vw;
    height: 40vh;
    background-color: yello;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    animation: translation 2.3s alternate;
}
@keyframes translation {
    0% {
        transform: translateX(-50vw);
    }
    100% {
        transform: translateX(0);
    }
}
#Home .image2 {
    overflow: hidden;
    width: 50vw;
    height: 40vh;
    background-color: greenyello;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    animation: translation 2.8s alternate;
}
@keyframes translation {
    0% {
        transform: translateX(-50vw);
    }
    100% {
        transform: translateX(0);
    }
}
#Home .intro{
    background-color: blueviole;
    width: 50vw;
    color: rgb(81, 102, 158);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}
#Home .intro2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

#Home h2{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#Home span{
    font-size: 55px;
    font-family: serif;
    font-style: italic;
}
#Home p{
    color: rgb(33, 51, 119);;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}
#Home .bouton button{
    background-color: rgb(84, 117, 169);
    width: 8.5vw;
    height: 4.5vh;
    border-radius: 20px;
    box-shadow: 0px 1px 4px -2px;
    animation: translation1 2.2s alternate;
    border: 0;
}
#Home .bouton button:hover{
    width: 8.7vw;
    height: 4.7vh;
    box-shadow: 0px 1px 4px -1px;
}
@keyframes translation1{
    0% { transform: translatey(5.5vh);}
    100% { transform: translatey(0);}
}
#Home .bouton button a{
    font-size: 14px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
}
#Home .bouton{
    background-color: re;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 9vw;
    height: 5.5vh;
}

#Boutique {
    background-color: rgb(230, 230, 230);
    padding-top: 9vh;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#Boutique .imgCollection img{
    width: 15vw;
    height: 55vh;
    object-fit: cover;
    border-radius: 10px;
}
.imgCollection {
    background-color: re;
    overflow: hidden;
    width: 90vw;
    height: 55vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: slide 18s infinite alternate;
}
.collection{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    /*border: 1px solid rgb(25, 84, 157);*/
    box-shadow: 0 1.5px 7px -2px;
    margin-left: -1.5vw;
    width: 23vw;
    height: 81vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.collection:hover{
    box-shadow: 0 2px 7px -1.9px;
}
.conteneurCollection{
    background-color: blu;
    width: 15vw;
    height: 55vh;
    border-radius: 10px;
    overflow: hidden;
}
@keyframes slide{
    0% { transform: translateX(0);}
    16.6666667% { transform: translateX(-15vw);}
    33.3333334% { transform: translateX(-30vw);}
    50.0000001% { transform: translateX(-45vw);}
    66.6666668% { transform: translateX(-60vw);}
    83.3333335% { transform: translateX(-75vw);}
}
.textCollection {
    background-color: rgb(205, 205, 205);
    width: 20vw;
    height: 18vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px;
}
.textCollection p{
    font-size: 9.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textCollection h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: rgb(53, 71, 130);
    font-weight: bold;
}
.textCollection span{
    font-family: serif;
    font-style: italic;
    font-size: 19px;
    font-weight: bold;
}
.paragraphe{
    background-color: aqu;
    width: 19vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bouton1{
    background-color: aqu;
    width: 6vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bouton1 button{
    width: 5vw;
    height: 4vh;
    background-color: rgb(106, 144, 210);
    border-radius: 10px;
    border: 0;
    box-shadow: 0 2px 4px 0;
}
.bouton1 button img{
    width: 15px;
    height: 15px;
    object-fit: contain;
}
.bouton1 button:hover{
    width: 5.5vw;
    height: 4.5vh;
    box-shadow: 0 3px 6px 0;
}


.divers{
    background-color: rgb(247, 247, 247);
    width: 65vw;
    height: 91vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 0px 0.5px 6.5px -1.8px;
}
.divers:hover{
    box-shadow: 0px 1px 6px -0.8px;
}
.button02 button{
    font-size: x-small;
    width: 3vw;
    height: 3vh;
    background-color: rgb(167, 188, 229);
    border: 0;
    border-radius: 3px;
    box-shadow: 0px 1px 4px 0px;
}
.button02 button:hover{
    width: 3.2vw;
    height: 3.2vh;
    background-color: rgb(190, 208, 243);
    font-weight: bold;
    box-shadow: 0px 2px 5px -1px;
}
.dessous {
    background-color: beig;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 12vw;
    width: 14vw;
}
.dessous p{
    font-size: 11.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.divers span{
    font-size: 13px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.ligne1{
    width: 20vw;
    height: 88vh;
    background-color: yello;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.ligne1 img{
    width: 14vw;
    height: 30vh;
    object-fit: cover;
}
.pull1,
    .pull2,
    .pantalon1,
    .pantalon2,
    .shoes1,
    .shoes2{
    background-color: rgb(255, 255, 255);
    width: 14vw;
    height: 42vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 1px 5px -2px;
}
.pull1:hover{
    box-shadow: 0 1px 5px -1px;
    width: 14.2vw;
    height: 42.2vh;
}
.pull2:hover{
    box-shadow: 0 1px 5px -1px;
    width: 14.2vw;
    height: 42.2vh;
}
.pantalon1:hover{
    box-shadow: 0 1px 5px -1px;
    width: 14.2vw;
    height: 42.2vh;
}
.pantalon2:hover{
    box-shadow: 0 1px 5px -1px;
    width: 14.2vw;
    height: 42.2vh;
}
.shoes1:hover{
    box-shadow: 0 1px 5px -1px;
    width: 14.2vw;
    height: 42.2vh;
}
.shoes2:hover{
    box-shadow: 0 1px 5px -1px;
    width: 14.2vw;
    height: 42.2vh;
}
.contain1{
    background-color: blueviole;
    display: flex;
    flex-direction: row;
    width: 42vw;
}
.contain1:hover{
    animation: contain1 3.5s alternate;
    box-shadow: 0px -3px 7px 0px;
}
@keyframes contain1{
    0% {transform: translateX(0);}
    50% {transform: translateX(-14vw);}
    100% {transform: translateX(-28vw);}
}
.button1 button{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 0;
}
.button11 {
    background-color: rgb(40, 95, 40);
}
.button12 {
    background-color: rgb(82, 66, 24);
}
.button13 {
    background-color: rgba(6, 11, 36, 0.875);
}


.contain2{
    background-color: blueviole;
    display: flex;
    flex-direction: row;
    width: 42vw;
}
.contain2:hover{
    animation: contain2 3.5s alternate;
    box-shadow: 0px -3px 7px 0px;
}
.button2 button{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: solid 0.000002px;
}
@keyframes contain2{
    0% {transform: translateX(0);}
    50% {transform: translateX(-14vw);}
    100% {transform: translateX(-28vw);}
}
.button21 {
    background-color: rgb(81, 127, 195);
}
.button22 {
    background-color: rgb(255, 255, 255);
}
.button23 {
    background-color: rgba(180, 152, 95, 0.875);
}


.ligne2{
    width: 20vw;
    height: 88vh;
    background-color: blueviole;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.ligne2 img{
    width: 14vw;
    height: 30vh;
    object-fit: cover;
}

.contain3{
    background-color: blueviole;
    display: flex;
    flex-direction: row;
    width: 42vw;
}
.contain3:hover{
    animation: contain3 3.5s alternate;
    box-shadow: 0px -3px 7px 0px;
}
.button3 button{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 0;
}
@keyframes contain3{
    0% {transform: translateX(0);}
    50% {transform: translateX(-14vw);}
    100% {transform: translateX(-28vw);}
}
.button31 {
    background-color: rgb(140, 172, 220);
}
.button32 {
    background-color: rgb(56, 98, 189);
}
.button33 {
    background-color: rgba(59, 60, 66, 0.875);
}

.contain4{
    background-color: blueviole;
    display: flex;
    flex-direction: row;
    width: 42vw;
}
.contain4:hover{
    animation: contain4 3s alternate;
    box-shadow: 0px -3px 7px 0px;
}
.button4 button{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 0;
}
@keyframes contain4{
    0% {transform: translateX(0);}
    50% {transform: translateX(-14vw);}
}
.button41 {
    background-color: rgb(42, 53, 43);
}
.button42 {
    background-color: rgb(114, 105, 86);
}

.ligne3{
    width: 20vw;
    height: 88vh;
    background-color: greenyello;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.ligne3 img{
    width: 14vw;
    height: 30vh;
    object-fit: cover;
}

.contain5{
    background-color: blueviole;
    display: flex;
    flex-direction: row;
    width: 42vw;
}
.contain5:hover{
    animation: contain5 3s alternate;
    box-shadow: 0px -3px 7px 0px;
}
.button5 button{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 0;
}
@keyframes contain5{
    0% {transform: translateX(0);}
    50% {transform: translateX(-14vw);}
    100% {transform: translateX(-28vw);}
}
.button51 {
    background-color: rgb(114, 105, 86);
}
.button52 {
    background-color: rgb(42, 53, 43);
}
.button53 {
    background-color: rgb(36, 90, 132);
}

.contain6{
    background-color: blueviole;
    display: flex;
    flex-direction: row;
    width: 42vw;
}
.contain6:hover{
    animation: contain6 3s alternate;
    box-shadow: 0px -3px 7px 0px;
}
.button6 button{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: solid 0.000002px;
}
@keyframes contain6{
    0% {transform: translateX(0);}
    50% {transform: translateX(-14vw);}
}
.button61 {
    background-color: rgb(226, 226, 226);
}
.button62 {
    background-color: rgb(18, 18, 18);
}
