* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    scroll-behavior: smooth;
}
nav {
    z-index: 100;
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: rgb(92, 111, 145);
    align-items: center;
    height: 9vh;
    width: 100%;
    gap: 3vw;
}
h1 {
    font-size: 50px;
    font-style: italic;
    padding-left: 7vw;
    width: 55%;
    color: white;
    /*background-color: blueviolet;*/
}
ul li {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12.5px;
}
li a {
    text-decoration: none;
    color: rgb(210, 210, 210)
}
li a:hover{
    color: white;
    font-weight: bold;
}
ul {
    /*background-color: red;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2vw;
    width: 25%;
}
.notify {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /*background-color: aqua;*/
    width: 10%;
}
.notify img {
    height: 20px;
    width: 20px;
}

#Home{
    background-color: rgb(230, 230, 230);
    padding-top: 9vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#Home img{
    width: 12vw;
    height: 39vh;
    border-radius: 18px;
    box-shadow: 0px 1px 5px -1px;
    object-fit: cover;
}
#Home img:hover{
    width: 12.8vw;
    height: 39.8vh;
    
}
#Home .image{
    background-color: aqu;
    height: 91vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#Home .image1 {
    overflow: hidden;
    width: 50vw;
    height: 40vh;
    background-color: yello;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    animation: translation 2.3s alternate;
}
@keyframes translation {
    0% {
        transform: translateX(-50vw);
    }
    100% {
        transform: translateX(0);
    }
}
#Home .image2 {
    overflow: hidden;
    width: 50vw;
    height: 40vh;
    background-color: greenyello;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    animation: translation 2.8s alternate;
}
@keyframes translation {
    0% {
        transform: translateX(-50vw);
    }
    100% {
        transform: translateX(0);
    }
}
#Home .intro{
    background-color: blueviole;
    width: 50vw;
    color: rgb(81, 102, 158);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}
#Home .intro2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

#Home h2{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#Home span{
    font-size: 55px;
    font-family: serif;
    font-style: italic;
}
#Home p{
    color: rgb(33, 51, 119);;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}
#Home .bouton button{
    background-color: rgb(84, 117, 169);
    width: 8.5vw;
    height: 4.5vh;
    border-radius: 20px;
    box-shadow: 0px 1px 4px -2px;
    animation: translation1 2.2s alternate;
    border: 0;
}
#Home .bouton button:hover{
    width: 8.7vw;
    height: 4.7vh;
    box-shadow: 0px 1px 4px -1px;
}
@keyframes translation1{
    0% { transform: translatey(5.5vh);}
    100% { transform: translatey(0);}
}
#Home .bouton button a{
    font-size: 14px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
}
#Home .bouton{
    background-color: re;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 9vw;
    height: 5.5vh;
}

#Boutique {
    background-color: rgb(230, 230, 230);
    padding-top: 9vh;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#Boutique .imgCollection img{
    width: 15vw;
    height: 55vh;
    object-fit: cover;
    border-radius: 10px;
}
.imgCollection {
    background-color: re;
    overflow: hidden;
    width: 90vw;
    height: 55vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: slide 18s infinite alternate;
}
.collection{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    /*border: 1px solid rgb(25, 84, 157);*/
    box-shadow: 0 1.5px 7px -2px;
    margin-left: -1.5vw;
    width: 23vw;
    height: 81vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.collection:hover{
    box-shadow: 0 2px 7px -1.9px;
}
.conteneurCollection{
    background-color: blu;
    width: 15vw;
    height: 55vh;
    border-radius: 10px;
    overflow: hidden;
}
@keyframes slide{
    0% { transform: translateX(0);}
    16.6666667% { transform: translateX(-15vw);}
    33.3333334% { transform: translateX(-30vw);}
    50.0000001% { transform: translateX(-45vw);}
    66.6666668% { transform: translateX(-60vw);}
    83.3333335% { transform: translateX(-75vw);}
}
.textCollection {
    background-color: rgb(205, 205, 205);
    width: 20vw;
    height: 18vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px;
}
.textCollection p{
    font-size: 9.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textCollection h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: rgb(53, 71, 130);
    font-weight: bold;
}
.textCollection span{
    font-family: serif;
    font-style: italic;
    font-size: 19px;
    font-weight: bold;
}
.paragraphe{
    background-color: aqu;
    width: 19vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bouton1{
    background-color: aqu;
    width: 6vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bouton1 button{
    width: 5vw;
    height: 4vh;
    background-color: rgb(106, 144, 210);
    border-radius: 10px;
    border: 0;
    box-shadow: 0 2px 4px 0;
}
.bouton1 button img{
    width: 15px;
    height: 15px;
    object-fit: contain;
}
.bouton1 button:hover{
    width: 5.5vw;
    height: 4.5vh;
    box-shadow: 0 3px 6px 0;
}

